
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}
body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  border-radius: 0.75rem;
  background-color: rgb(236, 171, 131);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.title {
  text-align: center;
  font-size: 40px;
  line-height: 2rem;
  font-weight: 700;
  color: rgb(216, 113, 65);
}


.input-group {
  margin-top: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.input-group label {
  display: flex;
  flex-direction: column;
  color: rgb(216, 113, 65);
  margin-bottom: 4px;
  font-weight: 700;
}

.input-group input {
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid rgba(55, 65, 81, 1);
  outline: 0;
  background-color: rgb(255, 184, 107);
  padding: 0.75rem 1rem;
  color: rgb(216, 113, 65);
}

.input-group input:focus {
  border-color: rgb(216, 113, 65);
}

.forgot {
  display: flex;
  justify-content: flex-end;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(216, 113, 65);
  margin: 8px 0 14px 0;
}

.signup a,
.forgot a {
  color: rgb(216, 113, 65);
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.forgot a:hover,
.signup a:hover {
  text-decoration: underline rgb(216, 113, 65);
}

.sign {
  display: block;
  width: 100%;
  background-color: rgb(216, 113, 65);
  padding: 0.75rem;
  text-align: center;
  color: rgba(17, 24, 39, 1);
  border: none;
  border-radius: 0.375rem;
  font-weight: 600;
  margin-top: 25px;
  text-decoration: none;
}

.sign:hover {
  background-color: rgb(173, 75, 29);
}

.signup {
  margin-top: 5px;
  text-align: center;
  font-size: 13px;
  line-height: 1rem;
  color: rgb(216, 113, 65);
}
